.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 13);
}
h1{
    font-size: 62px;
}

nav{
    max-width: 1200px;
}
ul{
    display: flex;
    justify-content: space-between ;
}
ul li{
    padding: 20px;
}
